.container {
  width: 60%;
  height: fit-content;
  border: 1px solid black;
  margin: auto;
  text-align: center;
  border-radius: 25px;
  color: rgb(22, 22, 83);
  padding: 20px;
}
.addTask{
  display: flex;
  width: 100%;
  justify-content: space-between;
  
}
.addTask input{
  width: 70%;
  padding: 7px;
  border: 1px solid rgb(226, 223, 223);
  border-radius: 25px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 6px;
}
.addTask input:focus{
  outline: none;
}
.addTask :nth-child(1), .addTask :nth-child(2){
  width: 50%;
}
#myDate{
  position:absolute;
  top: 1.7%;
  right: 22%;
}
#dueDate{
  position: relative;
}
#filter{
  display: flex;
   justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  align-items: center;
  text-align: center;
  grid-gap: 25px;
}
#dueDate{
  padding: 4px;
  border: 1px solid rgb(226, 223, 223);
  border-radius: 25px;
  
  
}
#priority{
  display: flex;
  align-items: center;
  grid-gap: 10px;
  
}
#priority label{
  margin-left: -6px;
}
#submit_btn{
  width: fit-content;
  font-size: large;
  padding: 3px 5px 3px 5px;
  margin: 10px;
  color: rgb(22, 22, 83);
  font-weight: 900;
}
label{
  font-weight: 900;
}
.mylist{
 background-color: rgb(21, 21, 66);
 color: aliceblue;
 padding: 2px 15px 2px 15px;
  align-items: center;
  margin: 10px;
  font-size: 0.9em;
  border:3px solid rgb(137, 46, 221);
  display: flex;
  justify-content: space-between;
  
  
}
.myTodos{
  text-align: center;
  margin: 20px auto 20px auto;
  width: 80%;
  padding: 20px;  
  
}
#close_icon{
  font-size: x-large;
  font-weight: 100;  
  padding: 3px 10px 3px 10px ;
  color: rgb(247, 240, 240);  
  cursor: pointer;
  margin-right: -2px;
}
#task_desc{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  text-align: start;
}

#task_desc :nth-child(1), #task_desc :nth-child(2){
  margin: 0px;
}
#task_desc :nth-child(2){
  margin-bottom: 4px;
}
.priority{
  border-radius: 15px;
  padding: 7px 12px 7px 12px;
  border: 1px solid rgb(243, 239, 247);
  font-weight: 900;
}